body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.container {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font:
}

.match, .ending {
  width: 100%;
  height: 100%;
  position: absolute;
}
.match {
  background-image: url("../images/tyson_ring.png");
}
.ending {
  background-image: url("../images/ending.jpg");
}
